<div class="orders-wrapper">
    <h1>{{title}}</h1>
    <div *ngFor = "let cust of customers">
        <h2>{{cust.name}}</h2>
        <table class="orders-table">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Date</th>
                    <th>Quantity</th>
                    <th>Unit Price</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let orders of cust.orders">
                    <td>{{orders.product}}</td>
                    <td>{{orders.date}}</td>
                    <td>{{orders.quantity}}</td>
                    <td>{{orders.unitPrice  | currency:'USD':true}}</td>
                    <td>{{orders.quantity * orders.unitPrice | currency:'USD':true }}</td>
                </tr>
                <tr>
                    <td colspan="4">&nbsp;</td>
                    <td>{{cust.orderTotal  | currency:'USD':true}}</td>
                </tr>
            </tbody>  
        </table>    
    </div>
</div>

<div *ngFor = "let orders of orderTotal">
                    <p>{{orders | currency:'USD':true}}</p>
                </div>